<%= form_tag "/", :method => "get", :class => "search" do %>
	<%= text_field_tag :query, @query %>
	<%= submit_tag "Search" %>
<% end %>
<ul>
	<% @products.each do |product| %>
		<li class="product">
			<%= image_tag product.image %><br/>
			<strong><%= product.name %></strong><br/>
			<span>$<%= product.price %></span>
		</li>
	<% end %>
</ul>
